  .view {
    background: url("https://cdn.pixabay.com/photo/2020/03/01/15/30/fox-4893199_960_720.jpg")no-repeat center center;
    background-size: cover;
  }
  @media (min-width: 768px) {
      .view {
          overflow: visible;
          margin-top: -56px;
      }
  }
  .navbar {
      z-index: 1;
  }

  html,body,header,.view {
    height: 100%;
  }

  .a-h{
    margin-left: 4px;
    margin-right: 4px;
  }

  .a-h:hover{
    transition: 0.5s;
    background: #ffffff22;
    border-radius: 12px 0px 12px 0px;
  }

  .git-ic{
    margin-left: 18px;
  }

@media (min-width: 1096px){
  .fijar{
    position: fixed; top: 15%; right: 0; z-index: -1;
  }
}